{% extends 'blog_vista/padre.html' %}
{% load static %}
{% block about %}


<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Me llamo Marcos Frola, tengo 22 años me propuse generar este blog para bridar una herramienta a las personas.  </p>
                <p>El objetivo principal es la actualizacion constante de informacion para que las personas puedan entrar y abastecerse de la misma.</p>
                <p>Estoy comenzando en el mundo de la programacion y al serme util mientras aprendo la informacion que pude tomar de diferentes sitios web me parecio una buena idea aplicar este tipo de pagina. </p>
                <p>Espero puedan pasar un buen tiempo en la pagina y en caso de contacto, en el pie de pagina se encuentra mi informacion. </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}